 a,
 a:hover,
 a:focus,
 a:active {
     text-decoration: none;
     color: inherit;
 }
.login_btn{
    cursor: pointer;
}

/* banner */
.banner__img{
    width:100%;
    height: 200px;
    position: center;
    object-fit:cover;
}
.logo {
    height: 128px;
    weight: 128px;
}

/* .logo-title .span{
    display: block;
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
/* .header-title{
    position: relative;
} */
.header1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header2 {
    font-family: 'Uniform Bold', Arial, sans-serif;
    margin-top: -15px;
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    font-size: 13px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    position: absolute;
    z-index: 3;
}

.navbar {
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    position: relative;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
}

.nav-item a {
    border-right-style: solid;
    border-width: thin;
    padding-right: 20px;
    font-weight: 700;
    font-size: 13px;
}

.link-home {
    padding-left: 10.5rem;
    font-weight: 700;
    font-size: 13px;
}

/* .link{
    font-weight: 700;
    font-size: 13px;
} */
.carousel-caption {
    position: absolute;
    top: 18%;
}

.announcement{
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    height: 40px;
    width: 20px;
}

.content-img {
    
}

.card_title{
    background: -webkit-linear-gradient(0deg, #008102, #93d12d);
    /* height: 40px;
    width: 20px; */
}
.mission-info1{
    border-right: 8px solid #148D08;
    /* margin-top: 10px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.shadows {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15) !important;
    transition: .3s ease;
    cursor: pointer;
}

.shadows:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: .3s ease;
}
.tag-info {
    border-left: 8px solid #FFD600;
    font-size: 23px;
    font-weight:700;
    color: #148D08;
    padding-left: 10px;
}

.tag-sub {
    margin-top: -20px;
    margin-left: 21px;
}
.borders {
    border-top-style: dotted;
    border-color: #BEBEBE;
    /* width: 55rem; */
}
.breadcrumb-item-one:hover{
    color: steelblue;
    text-decoration: underline;
    transition: all .4s ease;
}
